{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="products-area-wrapper tableView">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="products-header">
        <div class="product-cell category">Jour</div>
        <div class="product-cell status-cell">Heure de Début</div>
        <div class="product-cell sales">Heure de Fin</div>
    </div>
    {% for horaire in horaires %}
    <div class="products-row">
        <button class="cell-more-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
            </svg>
        </button>
        <div class="product-cell category"><span class="cell-label">Jour:</span>{{ horaire.day }}</div>
        <div class="product-cell status-cell"><span class="cell-label">Heure de Début:</span>{{ horaire.start_hour }}</div>
        <div class="product-cell sales"><span class="cell-label">Heure de Fin:</span>{{ horaire.end_hour }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
