{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="products-area-wrapper tableView">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="products-header">
        <div class="product-cell image">Personnel<button class="sort-button"></button></div>
        <div class="product-cell category">Email<button class="sort-button"></button></div>
        <div class="product-cell status-cell">Adresse<button class="sort-button"></button></div>
        <div class="product-cell sales">Téléphone<button class="sort-button"></button></div>
        <div class="product-cell sales">Action<button class="sort-button"></button></div>
    </div>
    <div class="products-row">
        <button class="cell-more-button"></button>
        <div class="product-cell image">
            <img src="https://tse1.mm.bing.net/th?id=OIP._uLmEOjLRXKVuhUDCjfhNAAAAA&pid=Api&P=0&h=180" alt="product">
            <span>{{ personnel.name }}</span>
        </div>
        <div class="product-cell category"><span class="cell-label">Email:</span>{{ personnel.email }}</div>
        <div class="product-cell status-cell"><span class="cell-label">Adresse:</span>{{ personnel.address }}</div>
        <div class="product-cell sales"><span class="cell-label">Téléphone:</span>{{ personnel.phone }}</div>
        <div class="product-cell actions">
            <a href="{% url 'update_personnel_connecte' %}" class="btn btn-secondary"><i class="bi bi-save"></i></a>
        </div>
    </div>
</div>
{% endblock %}
